*{
  color: red;
}
a{
  background-color: lightgrey;
}
.uiui{
  color: green;
}
.popo{
  font-weight: bold;
  background-color: pink;

}
#aqwa {
  font-size: 24px;
  
}
li {
  list-style-type: disc;
}

li li {
  list-style-type: circle;
}
span {
  background-color: aqua;
}

div > span {
  background-color: yellow;
}

p ~ span
{
  background-color: yellow;
}

li + li
{
  color: purple;
}

col.selected||td {
  background: gray;
  color: white;
  font-weight: bold;
}
a:link
{
  color: black;
}
a:visited
{
  color: yellow;
}
a:hover
{
  color: black;
}
a:active
{
  color: red;
}
.jkk::first-line
{
  color: darkgreen;
  text-transform: uppercase;
}